@font-face {
    font-family: "SF Pro Light";
    src: url("./assets/SF-Pro-Text-Light.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Ultralight";
    src: url("./assets/SF-Pro-Text-Ultralight.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main {
    width: 366px;
    height: 792px;
    margin: 50px auto;
    background-color: #010000;
}

.time {
    width: 100%;
    font-size: 85px;
    color: #fdfdfd;
    margin-top: 170px;
    text-align: center;
    display: inline-block;
    font-weight: 100;
}

#controls {
    padding-top: 95px;
}

.button {
    width: 75px;
    height: 75px;
    font-size: 16px;
    user-select: none;
    line-height: 71px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
}

.lapResetButton {
    color: #fefefe;
    margin-left: 15px;
    background-color: rgb(51, 51, 51);
    box-shadow:  0 0 0 2px rgb(51, 51, 51);
}

.lapResetButton:hover {
    background-color: rgba(51, 51, 51, .7);
    box-shadow:  0 0 0 2px rgba(51, 51, 51, .7);
}

.lapResetButton:active {
    background-color: rgba(51, 51, 51, .3);
    box-shadow:  0 0 0 2px rgba(51, 51, 51, .3);
}

.startStopButton {
    float: right;
    margin-right: 15px;
}

.start {
    color: #69cf69;
    background-color: rgb(19, 41, 20);
    box-shadow:  0 0 0 2px rgb(19, 41, 20);
}

.start:hover {
    background-color: rgba(19, 41, 20, .7);
    box-shadow:  0 0 0 2px rgba(19, 41, 20, .7);
}

.start:active {
    background-color: rgba(19, 41, 20, .3);
    box-shadow:  0 0 0 2px rgba(19, 41, 20, .3);
}

.stop {
    color: #e65444;
    background-color: rgb(47, 16, 13);
    box-shadow:  0 0 0 2px rgb(47, 16, 13);
}

.stop:hover {
    background-color: rgba(47, 16, 13, .7);
    box-shadow:  0 0 0 2px rgba(47, 16, 13, .7);
}

.stop:active {
    background-color: rgba(47, 16, 13, .3);
    box-shadow:  0 0 0 2px rgba(47, 16, 13, .3);
}

.disabled {
    color: rgb(154,153,160);
    background-color: rgb(28,28,30);
    box-shadow:  0 0 0 2px rgb(28,28,30);
}

.disabled:hover {
    background-color: rgb(28,28,30);
    box-shadow:  0 0 0 2px rgb(28,28,30);
}

.disabled:active {
    background-color: rgb(28,28,30);
    box-shadow:  0 0 0 2px rgb(28,28,30);
}

.logContainer {
    height: 250px;
    overflow: auto;
    margin-top: 17px;
}

.log {
    width: 93%;
    margin: 0 auto;
}

.lapTime {
    height: 40px;
    color: white;
    line-height: 40px;
    border-top: 1px solid rgb(25, 25, 25);
}

.lapTime span {
    float: right;
}

.shortestLap {
    color: rgb(103, 203, 101);
}

.longestLap {
    color: rgb(220, 78, 64);
}