* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010000;
    /* width: 100vw; */
}

#main {
    margin: 0 auto;
    width: 225px;
    /* border: 1px solid blue; */
}

.time {
    color: #fdfdfd;
    font-size: 45px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.time p {
    display: inline-block;
}

.button {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    margin-top: 25px;
    border: 2px solid black;
}

.button:hover {
    cursor: pointer;
    opacity: 70%;  
}

.leftButton {
    background-color: #333333;
    box-shadow:  0 0 0 2px #333333;
    color: #fefefe;
    margin-left: 10px;
}

.rightButton {
    float: right;
    margin-right: 10px;
}

.start {
    background-color: #132914;
    box-shadow:  0 0 0 2px #132914;
    color: #69cf69;
}

.stop {
    background-color: #2f100d;
    box-shadow:  0 0 0 2px #2f100d;
    color: #e65444;
}

.disabled {
    background-color: rgb(28,28,30);
    box-shadow:  0 0 0 2px rgb(28,28,30);
    color: rgb(154,153,160);
}

.log {
    margin-top: 25px;
    height: 150px;
    overflow: auto;
}

.lapTime {
    width: 225px;
    height: 25px;
    border-top: 1px solid rgb(50,50,50);
}